@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../components/abstract-black-background-grey-color-design-are-light-with-white-gradient-background_35947-425.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
}